## 1.- Crear una tabla en una BBDD e insertar un set de datos desde un CSV

1. Revise el archivo **<font color='red'>oscar.csv</font>** compartido en este deepnote para identificar el tipo de dato de cada columna, y establezca los nombres apropiados para usar en el punto siguiente (atributos de la tabla):

```sql
    id_oscar
    id_inf 
    id_res 
    id_content 
    title_oscar 
    year_ceremony 
    category 
    name 
    winner 
    directed_by 
    based_on 
    starring 
    distributed_by 
    budget 
    budget_x_million 
    box_office 
    box_office_x_million 
    imdb 
    metascore 
    rotten_tomatoes 
```

2. Crear una tabla en la **BBDD** **<font color='red'>netflix</font>** seleccionada en la **consigna #2**, con las siguientes características:

```sql
CREATE TABLE `oscar` (
    `id_oscar` int DEFAULT NOT NULL,
    `id_inf` int DEFAULT NULL,
    `id_res` int DEFAULT NULL,
    `id_content` int DEFAULT NULL,
    `title_oscar` varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
    `year_ceremony` int DEFAULT NULL,
    `category` varchar(256) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
    `name` varchar(256) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
    `winner`tinyint DEFAULT NULL,
    `directed_by varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
    `based_on`varchar(512) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
    `starring`varchar(512) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
    `distributed_by`varchar(256)CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
    `budget`varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
    `budget_x_million`double DEFAULT NULL,
    `box_office`varchar(128) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
    `box_office_x_million`double DEFAULT NULL,
    `imdb`double DEFAULT NULL,
    `metascore`int DEFAULT NULL,
    `rotten_tomatoes`int DEFAULT NULL,
    PRIMARY KEY (`id_oscar`),
    FOREIGN KEY (`id_content`) REFERENCES  `content` (`id_content`)
);
```

3. Importar el archivo **<font color='red'>oscar.csv</font>** en la tabla creada en el punto 2 de la **BBDD** **<font color='red'>netflix</font>** escogida en la **consigna #2**:

```sql
LOAD DATA INFILE 'C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\oscar.csv'
INTO TABLE oscar
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\r\n';
```

4. Construir y completar el cuadro siguiente **para la tabla oscar luego del paso 3,** según el siguiente modelo.  Los textos en <font color='blue'>azul</font> debes sustuirlos por los textos que correspondan:
<center>
<table>
    <tr>
        <td > </td>
        <th colspan="3", style="border: 1px solid black; padding: 0px 10px 0px 10px">Nombre de la BBDD y su tabla</th>
        <td colspan="3", style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>netflix.Oscar</font></td>
    </tr>
    <tr>
        <td > </td>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px">No Vacios</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px">Vacíos</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px">Nulos</font></th>
        <th style="border: 1px solid black; padding: 0px 10px 0px 10px">Distintos</font></th>
    </tr>
    <tr>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>id_oscar</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2758</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2758</font></td>
    </tr>
    <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>id_inf</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2758</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>530</font></td>
    </tr>
    <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>id_res </font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2758</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2754</font></td>
    </tr>
    <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>id_content</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>444</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2314</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>78</font></td>
    </tr>
     <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>title_oscar</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2758</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>530</font></td>
    </tr>
     <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>year_ceremony</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2758</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>91</font></td>
    </tr>    
    <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>category</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2758</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>93</font></td>
    </tr>
     <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>name</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2758</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2164</font></td>
    </tr>
     <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>winner</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2758</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2</font></td>
    </tr>
     <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>directed_by</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2753</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>5</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>391</font></td>
    </tr>
     <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>based_on</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>1360</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>1398</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>225</font></td>
    </tr>
     <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>starring</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2628</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>130</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>490</font></td>
    </tr>
        <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>distributed_by</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2652</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>106</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>210</font></td>
    </tr>
        <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>budget</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2497</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>261</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>246</font></td>
    </tr>
        <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>budget_x_million</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2476</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>282</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>153</font></td>
    </tr>
       <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>box_office</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2526</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>232</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>420</font></td>
    </tr>
       <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>box_office_x_million</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2519</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>239</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>401</font></td>
    </tr>
       <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>imdb</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2621</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>137</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>38</font></td>
    </tr>
        <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>metascore</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2485</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>273</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>63</font></td>
    </tr>
         <tr>
       <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>rotten_tomatoes</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>2522</td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>0</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>236</font></td>
        <td style="border: 1px solid black; padding: 0px 10px 0px 10px"><font color='blue'>62</font></td>
    </tr>
</table></center></br>

5. Realizar las siguientes consultas sobre el conjunto de tablas que sean necesarios. Los nombres de las columnas deben mostrarse en español:
<b>A.</b> Seleccionar los títulos con runtime superior a 90 y lenguaje Francés. Incluir el tipo de contenido. Ordenar los títulos de menor a mayor.

```sql
SELECT  p.title_production AS titulo_de_produccion, c.type AS tipo,p.runtime AS duracion
FROM content c
JOIN production p ON c.id_content = p.id_content
WHERE p.runtime > 90 AND p.language = 'French'
ORDER BY p.title_production ASC;
```
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/A.png"><center>


<b>B.</b> Seleccionar aquellos títulos que posean director y país de origen. Filtrar por aquellas que tengan un Runtime mayor a 70. Ordenar los títulos de manera ascendente.

```sql
SELECT c.title_content AS titulo_de_contenido, p.title_production AS titulo_de_produccion
FROM content AS c
JOIN production AS p ON c.id_content = p.id_content
WHERE c.director IS NOT NULL AND c.country IS NOT NULL AND p.runtime > 70
ORDER BY p.title_production ASC;
```
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/B.png"><center>

<b>C.</b> Sume el Runtime de las películas que tengan como único país de origen United States, India, Japan, Spain y Mexico, discriminando y ordenando por país. Incluya la columna género.

```sql
SELECT c.country AS pais_de_origen, p.genre AS genero, SUM(p.runtime) AS suma_runtime
FROM content AS c
JOIN production AS p ON c.id_content = p.id_content
WHERE c.country IN ('United States', 'India', 'Japan', 'Spain', 'Mexico')
GROUP BY c.country, p.genre
ORDER BY c.country ASC, p.genre ASC;
```
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/C.png"><center>

<b>D.</b> Mostrar las películas clasificadas como **drama** por netflix, que hayan ganado el Oscar entre 2010 y 2020 y que estén en esta plataforma

```sql
SELECT DISTINCT c.title_content AS titulo_de_pelicula, c.type AS tipo_de_contenido, c.date_added AS fecha_agregada_a_Netflix
FROM content AS c
JOIN oscar AS o ON c.id_content = o.id_content
WHERE c.type = 'Movie' 
  AND c.listed_in LIKE '%Drama%' 
  AND o.year_ceremony BETWEEN 2010 AND 2020 
  AND c.date_added IS NOT NULL
  AND o.winner = 1
  ORDER BY titulo_de_pelicula;
```   
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/D.png"><center>

<b>E.</b> Seleccionar el título y el género de las películas puntuadas por IMDB entre 7 y 9. Obtener los títulos en idioma inglés. 

```sql
SELECT c.title_content AS titulo_de_pelicula, p.genre AS genero
FROM content AS c
JOIN production AS p ON c.id_content = p.id_content
WHERE p.language = 'English'
  AND p.imdb_score >= 7 AND p.imdb_score <= 9;
```  
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/E.png"><center>

<b>F.</b> Cuente la cantidad de títulos de cada género de la tabla productions. Ordene de manera descendente por las cantidades y ascendente por el género.

```sql
SELECT genre AS genero, COUNT(*) AS cantidad
FROM production
GROUP BY genre
ORDER BY cantidad DESC, genero ASC;
```
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/F.png"><center>

<b>G.</b> Analizar la relación entre Budget y Box Office. Calcular el ratio Budget/Box Office para las peliculas con un puntaje IMDB entre 7 y 9, sin mostrar nulos y no repetidos.
```sql
SELECT DISTINCT
    o.title_oscar AS titulo,
    IF(o.box_office_x_million / o.budget_x_million > 1,
        CONCAT('Supero el presupuesto en un ',
            ROUND((o.box_office_x_million / o.budget_x_million) * 100, 0), ' %'),
        'No alcanzo el presupuesto'
    ) AS presupuesto
FROM
    oscar o
WHERE
    o.imdb BETWEEN 7 AND 9
ORDER BY
    titulo ASC;
```
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/G.png"><center>

<b>H.</b> Obtener las películas que ganaron el Oscar a Best Picture, ordenadas de manera descendente por año ganador.
```sql
SELECT
    title_oscar AS Título_Película,
    year_ceremony AS Año_Ganador
FROM
    oscar
WHERE
    category = 'Best Picture' AND winner = 1
ORDER BY
    year_ceremony DESC;
```
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/H.png"><center>

<b>I.</b> Mostrar el título y el año de ceremonia de los oscar para las peliculas puntuadas por IMDB entre 7 y 9. Ordenarlos alfabéticamente por títulos y de mayor a menor por año de ceremonia.

```sql
SELECT DISTINCT
    o.title_oscar AS Título_Película,
    o.year_ceremony AS Año_Ceremonia
FROM
    oscar o
WHERE
    o.imdb BETWEEN 7 AND 9
ORDER BY
    o.title_oscar ASC,
    o.year_ceremony DESC;
```
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/I.png"><center>

<b>J.</b> Mostrar una lista de las películas originales de netflix ganadoras del oscar (si las hubiera) mostrando las columnas title, category, genre runtime, el imdb_score, la premiere y el año de la ceremonia.

```sql
    SELECT
    o.title_oscar AS Título,
    o.category AS Categoría,
    p.genre AS Género,
    p.runtime AS Duración,
    p.imdb_score AS Puntuación_IMDb,
    p.premiere AS Estreno,
    o.year_ceremony AS Año_Ceremonia
FROM
    oscar o
JOIN
    production p ON o.id_content = p.id_content
WHERE
    o.winner = 1
    AND o.distributed_by LIKE '%Netflix%';
```
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/J.png"><center>

<b>K.</b> Mostrar una lista de las nominaciones al oscar de películas originales de netflix (si las hubiera) que no fueron ganadoras del premio,mostrando las columnas título, category y año de la ceremonia.

```sql
    SELECT
    o.title_oscar AS Título,
    o.category AS Categoría,
    o.year_ceremony AS Año_Ceremonia
FROM
    oscar o
INNER JOIN
    production p ON o.id_content = p.id_content
WHERE
    o.winner = 0 
    AND o.distributed_by LIKE '%Netflix%'
ORDER BY
    Año_Ceremonia DESC;
```
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/K.png"><center>
<!--By EMM-->
7.<font color='green'>**DESAFIOS**</font>:
Realizar las siguientes consultas sobre el conjunto de tablas que sean necesarios. Los nombres de las columnas deben mostrarse en español:

<b>I.</b> Cuente los tipos de contenido de la tabla “content”. Muestre la descripción de tipos en el resultado de la consulta.
```sql
SELECT
    type AS Tipo_de_Contenido,
    COUNT(*) AS Cantidad
FROM
    content
GROUP BY
    type;
```
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/1.png"><center>

<b>II.</b> Seleccionar títulos con duración igual a 90 min, que provengan únicamente de United States. Mostrar listed_in. Ordenar los títulos de menor a mayor.

```sql
SELECT
    title_content AS Título,
    listed_in AS Categorías
FROM
    content
WHERE
    duration = '90 min'
    AND country = 'United States'
ORDER BY
    Título ASC;
```
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/2.png"><center>

<b>III.</b> Realizar una consulta similar a la anterior, en donde el campo ‘country’ contenga a United States o a UNITED STATES y el título listado contenga a ‘Horror Movie’ O HORROR MOVIE.

```sql
SELECT
    title_content AS Título,
    listed_in AS Categorías,
    country as Ciudad
FROM
    content
WHERE
    UPPER(country) = 'UNITED STATES'
    AND (UPPER(listed_in) LIKE '%HORROR MOVIE%')
ORDER BY
    Título ASC;
```
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/3.png"><center>

<b>IV.</b>  Mostar la lista de películas puntuadas 85 o más por Metascore que ganaron el Oscar.

```sql
SELECT
    o.title_oscar AS Título_Película,
    o.metascore AS Puntuación_Metascore
FROM
    oscar o
WHERE
    o.winner = 1
    AND o.metascore >= 85;
```
<center><img src="mi_proyecto/Consigna#3R/imag_BBDD/4.png"><center>

In [ ]:
df_1 = _deepnote_execute_sql('SELECT *\nFROM \'data_original/CSV/oscar.csv\'', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_1

,id_oscar,id_inf,id_res,id_content,title_oscar,year_ceremony,category,name,winner,directed_by,based_on,starring,distributed_by,budget,budget_x_million,box_office,box_office_x_million,imdb,metascore,rotten_tomatoes
0,1,26,10359,NULL,1917,2020,CINEMATOGRAPHY,Roger Deakins,1,Sam Mendes,NULL,['George MacKay'. 'Dean-Charles Chapman'. 'Mar...,['Universal Pictures (Worldwide)'. 'Entertainm...,$95 million,95.0000000,$384.9 million,384.900000,8.3,78,89
1,2,26,10368,NULL,1917,2020,DIRECTING,Sam Mendes,0,Sam Mendes,NULL,['George MacKay'. 'Dean-Charles Chapman'. 'Mar...,['Universal Pictures (Worldwide)'. 'Entertainm...,$95 million,95.0000000,$384.9 million,384.900000,8.3,78,89
2,3,26,10395,NULL,1917,2020,MAKEUP AND HAIRSTYLING,Naomi Donne. Tristan Versluis and Rebecca Cole,0,Sam Mendes,NULL,['George MacKay'. 'Dean-Charles Chapman'. 'Mar...,['Universal Pictures (Worldwide)'. 'Entertainm...,$95 million,95.0000000,$384.9 million,384.900000,8.3,78,89
3,4,26,10399,NULL,1917,2020,MUSIC (Original Score),Thomas Newman,0,Sam Mendes,NULL,['George MacKay'. 'Dean-Charles Chapman'. 'Mar...,['Universal Pictures (Worldwide)'. 'Entertainm...,$95 million,95.0000000,$384.9 million,384.900000,8.3,78,89
4,5,26,10412,NULL,1917,2020,BEST PICTURE,Sam Mendes. Pippa Harris. Jayne-Ann Tenggren a...,0,Sam Mendes,NULL,['George MacKay'. 'Dean-Charles Chapman'. 'Mar...,['Universal Pictures (Worldwide)'. 'Entertainm...,$95 million,95.0000000,$384.9 million,384.900000,8.3,78,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2753,2754,77,4311,NULL,Zootopia,1966,MUSIC (Music Score--substantially original),Maurice Jarre,1,['Byron Howard'. 'Rich Moore'],NULL,['Ginnifer Goodwin'. 'Jason Bateman'. 'Idris E...,['Walt Disney Studios'. 'Motion Pictures'],$150 million,150.0000000,$1.024 billion,1024.000000,8.0,78,98
2754,2755,77,4326,NULL,Zootopia,1966,BEST PICTURE,Carlo Ponti. Producer,0,['Byron Howard'. 'Rich Moore'],NULL,['Ginnifer Goodwin'. 'Jason Bateman'. 'Idris E...,['Walt Disney Studios'. 'Motion Pictures'],$150 million,150.0000000,$1.024 billion,1024.000000,8.0,78,98
2755,2756,77,4339,NULL,Zootopia,1966,SOUND,Metro-Goldwyn-Mayer British Studio Sound Depar...,0,['Byron Howard'. 'Rich Moore'],NULL,['Ginnifer Goodwin'. 'Jason Bateman'. 'Idris E...,['Walt Disney Studios'. 'Motion Pictures'],$150 million,150.0000000,$1.024 billion,1024.000000,8.0,78,98
2756,2757,77,4349,NULL,Zootopia,1966,WRITING (Screenplay--based on material from an...,Robert Bolt,1,['Byron Howard'. 'Rich Moore'],NULL,['Ginnifer Goodwin'. 'Jason Bateman'. 'Idris E...,['Walt Disney Studios'. 'Motion Pictures'],$150 million,150.0000000,$1.024 billion,1024.000000,8.0,78,98
2757,2758,77,9969,NULL,Zootopia,2017,ANIMATED FEATURE FILM,Byron Howard. Rich Moore and Clark Spencer,1,['Byron Howard'. 'Rich Moore'],NULL,['Ginnifer Goodwin'. 'Jason Bateman'. 'Idris E...,['Walt Disney Studios'. 'Motion Pictures'],$150 million,150.0000000,$1.024 billion,1024.000000,8.0,78,98

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=57a710b8-5854-4f44-a9e8-4a17d1732d80' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>